# Exclude exported CurseForge zip files
# *.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Local development utilities.
util/
packutil
packutil.bat
dev.toml

# Build artifacts.
build/dist/
build/tmp/
_redirects

# MacOS
.DS_Store
__MACOSX